/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-rows:100px 100px;
	grid-template-columns:auto auto auto;
	gap:10px;
}

.grid-item{
	background-color:#F2F2F2;
	border:1px solid #ccc;
}